@charset "ISO-8859-1";
body{
    background-image: url('images/bg.jpg');
    height:80%;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
	color: red
}
.login_box{
	height: 350px;
    width: 400px;
    background-color: white;
    position: relative;
    top: 120px;
    left: 900px;
    padding:40px;
    padding-top: 100px
}
input[type="text"],input[type="password"]{
	padding:5px;
	margin-left: 30px;
	margin-bottom: 20px;
	border:solid 3px gray;
	width:333px;
	height: 40px;
	font-size: 30px;
}
input[type="submit"]{
	padding:5px;
	width:200px;
	height: 45px;
	font-size: 30px;
	background-color: yellow;
}